.dv8.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
}

h1.dv8 {
    text-align: center;
    font-size: 4em;
}

hr.dv8 {
    background: #888;
    height: 1px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

p.dv8.message {
    text-align: center;
    color: #999;
    flex: 0 0;
}

.dv8.spacer {
    flex: 1 1;
}

.dv8.desc {
    text-align: center;
}

.dv8.container {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #eee;
}