.index-article {
    box-shadow: rgba(0, 0, 0, 0.03) 0px 0px 5px 5px;
    margin-top: 20px;
    border-radius: 10px;
    transition: ease-in-out 0.5s;
    overflow: hidden;
    background: white;
}

.index-article header {
    padding: 20px;
}

.index-article section {
    padding: 0px 20px 5px 20px;
}

.index-article.grow:hover {
    transform: scale(1.05);
}

button {
    border-radius: 5px;
    border-style: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background: darkslategray;
    color: white;
}

blockquote {
    background: #fec;
    color: #876;
    padding: 10px 10px 10px 10px;
    border-left: solid 4px;
    margin-left: 0;
}