:root {
    /* CSS */
    --blue: #0000FF;
    --radical-red: #FF3366;
    --tiffany-blue: #2EC4B6;
    --cultured: #F6F7F8;
    --naples-yellow: #FFE66D;
    --primary-color: #EE6352;
    --secondary-color: #EE6352;
    --accent-color: #24563A;
    --tertiary-color: #388659;
    --background-color: #388659;
    --action-color: var(--naples-yellow);
}

h3 a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #aaa;
}

.home-header-image {
    box-shadow: none;
    transition: all ease-out 0.2s !important;
    border: solid 10px var(--accent-color) !important;
}

.home-header-image:hover {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5) !important;
    transform: scale(1.01) translateY(-2px);
    cursor: pointer;
}