.tag {
    margin: 2px;
    border: none;
    padding: 2px 4px;
    color: #aaa;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
}

.tag:hover {
    color: #333;
}